@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:ital,wght@0,300;0,700;1,700&display=swap');
@import url(components/container.css);
@import url(components/avatar.css);
@import url(components/button.css);
@import url(components/banner.css);
@import url(components/card.css);
@import url(components/map.css);
@import url(components/footer.css);

body{
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
	background-color: #efefef;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;

}

a{
	text-decoration: none;
}

h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
  .card {
  	width: 500px;
  }
  .map-square {
  	width: 400px;
  }
  .logo {
  	width: 250px;
  	height: 250px;
  }
  .avatars {
  	width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .card {
  	width: 300px;
  }
  .map-square {
  	width: 200px;
  }
  .logo {
  	width: 150px;
  	height: 150px;
  }
  .avatars {
  	width: 300px;
  }
}