.avatar {
	width: 300px;
	height: 230px;
	border-radius: 5px;
	margin: 10px;
}

.avatars {
	width: 800px;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
}

.logo {
	width: 450px;
	height: 450px;
	border-radius: 50%;
	margin-bottom: 50px;
}