.banner{
	background-image: linear-gradient(-245deg,rgba(0,182,240,0.6) 0%, rgba(0,0,0,0.2) 80%), url(../../images/banner.jpg);
	padding: 350px 0px;
	color: white;
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
}
.banner h1{
	font-size: 60px;
	margin-bottom: 80px;
}
