.card{
	width: 700px;
	padding: 20px;
	display: flex;
	align-items: center;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.6);
	border-radius: 6px;
	margin: 20px auto;
	flex-direction: column;
	background-color: white;
}